body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.2em;
  color: #2d3c49;
}

header, main, content, footer, section {
  box-sizing: border-box;
}

footer {
  padding: 20px 0px 20px 0px;
  background-color: #2d3c49;
  text-align: center;
  color: #fff;
}

/*
 * Header
 */

.header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  height: 100px;
}

.header_inner {
  width: 100%;
}

.header_logo {
  height: 50px;
  margin: 1em 0 1em 1em;
  vertical-align: top;
}

.header_text {
  display: inline-block;
  float: right;
  margin-right: 1em;
}

.header_name {
  text-align: right;
}

.header_description {
  display: block;
  text-align: right;
}

/*
 * Content
 */

 /*
  * Intro
  */

.intro {
  position: relative;
  text-align: center;
  color: #fff;
}

.banner {
  width: 100%;
  display: block;
  position: relative;
  margin-top: 20px;
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*
 * About me
 */

.description {
  text-align: center;
  padding: 50px 0px 25px 0px;
}

/*
 * My work
 */

.my_work h1 {
  text-align: center;
  padding: 0px 0px 25px 0px;
}

.projects {
  box-sizing: border-box;
  margin-bottom: 5em;
}

.snippet {
  box-sizing: border-box;
  text-align: center;
  float: left;
  position: relative;
}

.snippet_thumbnail_pict {
  max-width: 80%;
  max-height: 80%;
}
